/*
  main
*/
.main {
  position: absolute;
	top: 50%;
	left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

/*
  ボード(squares)に関するCSS
*/
.squares {
  position: relative;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 3em;
}

td {
	border: solid 3px;
  width: 5em;
  height: 5em;
  text-align: center;
  font-size: 32px;
}

tbody {
  display: inline-block;
}

#stack_red_box {
  width: 3em;
  height: 3em;
  display: inline-block;
  margin-right: 3em;
  position: relative;
  top: 50%;
  line-height: 3em;
  padding: 1em;
  font-size: 32px;
}

#stack_blue_box {
  width: 3em;
  height: 3em;
  display: inline-block;
  margin-left: 3em;
  position: relative;
  top: 50%;
  line-height: 3em;
  padding: 1em;
  font-size: 32px;
}

.square_red {
  padding: 2em;
  background: red;
  border-radius: 50%;
  color: white;
}

.square_red_stock {
  background: red;
  border-radius: 50%;
  color: white;
  text-align: center;
  position: relative;
  top: 50%;
  vertical-align: middle;
}

.square_blue {
  padding: 2em;
  background: blue;
  border-radius: 50%;
  color: white;
}

.square_blue_stock {
  background: blue;
  border-radius: 50%;
  color: white;
  text-align: center;
  position: relative;
  top: 50%;
  vertical-align: middle;
}

/*
  piece_fieldに関するCSS
*/
.piece_field {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

/*
  pieceに関するCSS
*/
.piece {
  display: inline-block;
  width: 20%;
  padding: 0.5em 0.5em;
  margin-left: 0.3em;
  margin-right: 0.3em;
  border: 1px solid rgb(105, 105, 105);
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  user-select: none;
}

.piece:hover {
  opacity: 0.8;
  cursor: pointer;
}

.red_piece {
  background: red;
  box-shadow: 0px 5px #720707;
  color: white;
}

.blue_piece {
  background: blue;
  box-shadow: 0px 5px #05065c;
  color: white;
}

.stocked {
  opacity: 0.4 !important;
  background: green;
  position: relative;
  top: 6px;
  box-shadow: none;
}

.deployed {
  opacity: 0.4 !important;
  position: relative;
  top: 6px;
  box-shadow: none;
}

/*
  ターン表示に関するCSS
*/
.red_turn {
  margin: 0 auto;
  width: 60%;
  height: 1em;
  background: red;
}

.blue_turn {
  margin: 0 auto;
  width: 60%;
  height: 1em;
  background: blue;
}

.not_turn {
  pointer-events: none;
  opacity: 0.5;
  cursor: none;
}

/*
 勝利時の表示
*/
.win_red {
  font-size: 32px;
  color: red;
  text-align: center;
  margin: 0 auto;
}

.win_blue {
  font-size: 32px;
  color: blue;
  text-align: center;
  margin: 0 auto;
}